.list {
  margin-top: 10px;
  max-height: 130px;
  overflow-y: auto;
}

.item {
  margin-bottom: 10px;
  text-align: center;
}

.item p {
  padding: 5px;
}

.item:last-child {
  margin-bottom: 0;
}

.button {
  width: 100%;
  height: 100%;
}

.selected {
  color: white;
  background: black;
}
